@import "././styles/variables.scss";

.about-me-container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.about-me-title {
  text-align: center;
  font-family: $font-family-primary;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.about-me-line {
  height: 3px;
  background-color: black;
  width: 60%;
  margin: 0 auto;
}

.about-me-presentation-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-me-text-line {
  width: 500px;
  margin-top: 60px;
  margin-left: 30px;
  margin-bottom: 10px;
  background-color: black;
  height: 2px;
}
.about-me-text {
  font-family: $font-family-primary;
  font-size: 1.1em;
  font-weight: 400;
  width: 500px;
  margin-left: 30px;
  height: auto;
}

.about-me-text p {
  font-size: 1.1em;
}

.about-me-picture {
  border-radius: 50px;
  height: 350px;
  width: auto;
  border: 2px solid rgb(14, 14, 91);
  box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 1);
  margin-top: 30px;
}


