@import "././styles/variables.scss";

.conception-container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.conception-title {
  text-align: center;
  font-family: $font-family-primary;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 15px;
}

.conception-line {
  height: 3px;
  background-color: black;
  width: 90%;
  margin: 0 auto;
}

.conception-list {
  margin-top: 20px;
  margin-left: 33%;
  display: flex;
  justify-content: flex-start;
}

.ux-design img {
  margin-top: 30px;
  margin-left: 7%;
  height: 100px;
}

.conception-slider {
  display: flex; /* Slider horizontal */
  overflow-x: auto; /* Active le défilement horizontal */
  scroll-snap-type: x mandatory; /* Active le snap pour chaque slide */
  gap: 20px; /* Espace entre les slides */
  padding: 20px; /* Ajoute du padding pour le style */
}

.conception-slide {
  
  scroll-snap-align: start; /* S'aligne au début de chaque slide */
  flex: 0 0 80%; /* Chaque slide occupe 80% de la largeur */
  background: #f9f9f9; /* Couleur de fond pour mieux visualiser */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.conception-slider::-webkit-scrollbar {
  display: none; /* Cache la scrollbar */
}

.conception-explaination h4 {
  font-family: $font-family-primary;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-left: 20%;
}

.conception-explaination-line {
  height: 1px;
  background-color: black;
  width: 52%;
  margin-left: 20.3%;
}

.conception-explaination p {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.conception-explaination li {
  font-family: $font-family-primary;
  font-size: 1.1rem;
  text-align: left;
  list-style-type: none;
  margin-left: 17.7%;
  margin-bottom: 10px;
}

.conception-explaination i {
  font-family: $font-family-primary;
  font-size: 1.1rem;
  text-align: left;
  list-style-type: none;
  margin-left: 31.6%;
  margin-bottom: 10px;
}
