@import "././styles/variables.scss";

.creation-process-container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.creation-process-title {
  text-align: center;
  font-family: $font-family-primary;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 15px;
}

.creation-process-line {
  height: 3px;
  background-color: black;
  width: 60%;
  margin: 0 auto;
}

.notebook {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.notebook img {
  height: 100px;
}

.creation-process-explaination p {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  text-align: center;
}
