@import "././styles/variables.scss";

.goal-container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.goal-title {
  text-align: center;
  font-family: $font-family-primary;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 15px;
}

.goal-line {
  height: 3px;
  background-color: black;
  width: 80%;
  margin: 0 auto;
}

.check-list{
  margin-top: 20px;
  margin-left: 33%;
  display: flex;
  justify-content:flex-start;
}

.check-list img {
  height: 100px;
  margin-left: 1%;
}

.goal-explaination p {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.goal-explaination li {
    font-family: $font-family-primary;
    font-size: 1.1rem;
    text-align: left;
    list-style-type: none;
    margin-left: 32.1%;
    margin-bottom: 10px;
  }