@import '././styles/variables.scss';

.skills-container {
    scroll-snap-align: start ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.skills-title{
    font-family: $font-family-primary;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 15px;
}

.skills-line {
    height: 3px;
    background-color: black;
    width: 60%;
    margin: 0 auto;
}
.skills-list {

    font-family: $font-family-primary;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-left: 15%;
    gap: 1px;
    margin-top: 50px;
    flex-direction: column;
}

.skill-item {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 30px;
    font-weight: 500;
}

.skill-logo {
    margin-right: 1rem;
    width: 90px;
    height: auto;
}

.skill-text {
    font-size: 1.5em;
    margin-top: 30px;
}