@import "././styles/variables.scss";

.technologies-container {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.technologies-title {
    text-align: center;
    font-family: $font-family-primary;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 15px;
}

.technologies-line {
    height: 3px;
    background-color: black;
    width: 60%;
    margin: 0 auto;
}

.technologies-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.technologies-logos img {
  width: 180px;
  height: auto;
  margin-top: 50px;
}
